@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status" data-testid="status">Current count: @currentCount</p>

<button class="btn btn-primary" data-testid="clickme" @onclick="IncrementCount">Click Me!</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
